html {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: url("https://raw.githubusercontent.com/seetil/curry-quiz/main/background.png");
  background-position: center;
  background-repeat: repeat;
  color: rgb(164, 193, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url("https://raw.githubusercontent.com/seetil/curry-quiz/main/body.png");
}

h3 {
  text-align: center;
}

.form {
  width: fit-content;
  justify-self: center;
}
.card {
  border: 0.1rem solid rgb(36, 36, 36);
  padding: 1rem;
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputs button {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgb(16, 49, 16);
}

.selected {
  background-color: rgb(164, 193, 212);
}

.exit {
  background: none;
  float: right;
  color: white;
}

.submit {
  background-color: darkgreen;
  font-size: 20px;
  font-weight: 50;
  color: rgb(164, 193, 212);
  font-family: "Nunito", sans-serif;
}

.hidden {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.overlay {
  display: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.korma {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://github.com/seetil/curry-quiz/blob/main/ChickenKorma.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(164, 193, 212);
}
.madras {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/seetil/curry-quiz/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(164, 193, 212);
}

.biryani {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/seetil/curry-quiz/lambBiryani.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(164, 193, 212);
}
.mappas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/seetil/curry-quiz/vegmappas.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(164, 193, 212);
}

.monkfish {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://raw.githubusercontent.com/seetil/curry-quiz/monkfish.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(164, 193, 212);
}

.inputs {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

label {
  height: 2.5rem;
  width: 6rem;
  text-align: center;
}
